<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title></title>
</head>
<body>
<div class="item">
    <img src="static/img/iklim değişikliği.jpeg" alt="iklim değişkiliği nedir" class="item__img" />
      
      <p class="item__text">İKLİM DEĞİŞİKLİĞİ NEDİR ? İklim değişikliği, yeryüzündeki iklim koşullarının uzun vadede değişmesidir. Bu değişim çoğunlukla insan faaliyetlerinden kaynaklanır ve küresel ısınma ile bağlantılıdır.

Başlıca nedenleri:

Fosil yakıtların (kömür, petrol, doğalgaz) aşırı kullanımı,

Ormansızlaşma ve tarım alanlarının yanlış kullanımı,

Sanayi ve ulaşım kaynaklı sera gazı salınımları,

Doğal kaynakların aşırı tüketimidir

Etkileri:

Ortalama sıcaklıkların yükselmesi,

Buzulların erimesi ve deniz seviyelerinin artması,

Kuraklık, sel, fırtına gibi afetlerin artması,

Ekosistemlerin bozulması ve canlı türlerinin yok olmasıdır.İKLİM DEĞİŞİKLİĞİNİ ÖNLEMEK İÇİN NE YAPMALIYIZ?👇👇👇👇👇👇👇👇👇👇👇👇👇</p>
    </div>
<div class="item">
    <img src="static/img/enerji tasarrufu 3.jpeg" alt="enerji tasarrufu" class="item__img" />
      
      <p class="item__text">Enerji tasarrufu yapmaklıyız mesela gereksiz ışıkları kapatmak, enerji verimli cihazlar kullanmak enerji tasarrufuna örnektir.</p>
    </div>

<div class="item">
    <img src="static/img/yenilenebilir enerji 3.jpeg" alt="yenilenebilir enerji" class="item__img" />
      
      <p class="item__text">Fosil yakıt yerine yenilenebilir enerji kullanmalıyız mesela güneş, rüzgar ve hidroelektrik enerjiye yönelmek yenilenebilir enerjiye örnektir.</p>
    </div>
<div class="item">
    <img src="static/img/toplu taşıma yerine bisiklet kullanmak 3.jpeg" alt="toplu taşıma yerine bissiklet kullanmak" class="item__img" />
      
      <p class="item__text">Toplu taşıma ve bisiklet kullanmalıyız mesela araç kullanımını azaltarak karbon salınımını düşürmek aldığımız oksijenin verimlenmesini sağlar.</p>
    </div>
<div class="item">
    <img src="static/img/ağaç dikmek ve ormanları korumak.jpeg" alt="ağaç dikmek ve ormanları korumak" class="item__img" />
      
      <p class="item__text">Ağaç dikmeliyiz ve ormanları korumalıyız örneğin ağaçlar karbondioksiti emer ve havayı temizler buda ormanları korumaya örnektir.</p>
    </div>
<div class="item">
    <img src="static/img/geri dönüşüm.jpeg" alt="geri dönüşüm" class="item__img" />
      
      <p class="item__text">Geri dönüşüm yapmalıyız örneğin plastik, cam, kağıt gibi atıkları ayrıştırmak geri dönüşüme örnektir.</p>
    </div>
<div class="item">
    <img src="static/img/su tasarrufu.jpeg" alt="su tasarrufu" class="item__img" />
      
      <p class="item__text">Su tasarrufu yapmalıyız örneğin muslukları gereksiz açık bırakmamak, damlatan muslukları tamir etmek su tasarrufuna örnektir.</p>
    </div>
<div class="item">
    <img src="static/img/yerel ve mevsimlik ürünler tüketmek.jpeg" alt="geri dönüşüm" class="item__img" />
      
      <p class="item__text">Yerel ve mevsimlik ürünler tüketmeliyiz ulaşım kaynaklı karbon salınımını bu şekilde azaltırız.</p>
    </div>
</body>
</html>